server.port=8989

naver:
  url:
    search:
      local: https://openapi.naver.com/v1/search/local.json
      image: https://openapi.naver.com/v1/search/image
    client:
      id: 37USLSUDvaJG4Rs_cySl
      secret: 96nMdbdX6X
